{% extends 'base.html.twig' %}
{% block title %}Tareas{% endblock %}
{% block body %}
	<h1>{{ mensaje}}</h1>
	<ul>
		 {% for t in tareas %}
        <li><a href="{{ path ('tarea', {'id':t.id}) }}">{{ t.id }} - {{ t.descripcion}}</a></li>
    {% endfor %}
	</ul>

{% endblock %}