{% extends 'base.html.twig' %}
{% block title %}Tarea {{tarea.id}} {% endblock %}
	
{% block body %}
	<a href="{{ url_atras}}">Atras</a>
	<h1> Tarea {{tarea.id}}</h1>
	<p>{{ tarea.descripcion}}</p>

	

{% endblock %}